<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../public/css/photo/image.css" rel="stylesheet">
</head>
<body>


<div class="content" id="photoId">
        <!--<img class="place1" src="../../public/imgs/photo/1.jpg">-->
        <!--<img class="place2" src="../../public/imgs/photo/2.jpg">-->
        <!--<img class="place3" src="../../public/imgs/photo/3.jpg">-->
        <!--<img class="place4" src="../../public/imgs/photo/4.jpg">-->
        <!--<img class="place5" src="../../public/imgs/photo/5.jpg">-->
        <!--<img class="place6" src="../../public/imgs/photo/6.jpg">-->
</div>


<div style="">


</div>



<script src="../../public/script/modules/sea/sea.js"></script>
<script src="../../public/script/modules/sea/sea-config.js"></script>
<script>
    seajs.use("photo/photo");
</script>

</body>
</html>